/*Start Global Rules*/
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --header-height-large: 72px;
  --header-height-small: 56px;
  --section-padding-top: 100px;
  --section-padding-bottom: 100px;
  --section-background: #ececec;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small screens */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* medium screens */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* large screens */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* Start Componantes */
.main-heading {
  margin: 0 auto 90px;
  font-size: 1.8em;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
}
.main-heading::before,
.main-heading::after {
  position: absolute;
  content: "";
  top: 50%;
  width: 12px;
  height: 12px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: var(--main-transition);
  z-index: -1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.main-heading::before {
  left: -30px;
}
.main-heading::after {
  right: -30px;
}
.main-heading:hover::before {
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}
.main-heading:hover::after {
  animation: right-move 0.5s linear forwards;
  -webkit-animation: right-move 0.5s linear forwards;
}
.main-heading:hover {
  border: 2px solid white;
  color: white;
  transition-delay: 0.5s;
}
/* End Componantes */
/*End Global Rules*/
/* Start Header  */
header {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .logo {
  height: var(--header-height-large);
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
}
@media (max-width: 767px) {
  header .logo {
    height: var(--header-height-small);
    width: 100%;
  }
}
header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  header ul.main-nav {
    margin: 0 auto;
  }
}
header .container .main-nav > li:hover .mega-menu {
  opacity: 100%;
  z-index: 1;
  top: calc(100% + 1px);
}
header .container .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: black;
  height: var(--header-height-large);
  padding: 0 30px;
  overflow: hidden;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
@media (max-width: 767px) {
  header .container .main-nav > li > a {
    padding: 0 10px;
    font-size: 13px;
    height: var(--header-height-small);
  }
}
header .container .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 0;
  left: -100%;
  background-color: var(--main-color);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .container .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
header .container .main-nav > li > a:hover::before {
  left: 0;
}
/* Start Mega Menu */
header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% + 50px);
  background-color: white;
  padding: 30px;
  display: flex;
  gap: 40px;
  border-bottom: 3px solid var(--main-color);
  z-index: -1;
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
  -webkit-transition: top var(--main-transition), opacity var(--main-transition);
  -moz-transition: top var(--main-transition), opacity var(--main-transition);
  -ms-transition: top var(--main-transition), opacity var(--main-transition);
  -o-transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}
.mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .mega-menu .image img {
    display: none;
  }
}
.mega-menu .links {
  min-width: 250px;
}
.mega-menu .links li {
  position: relative;
  padding: 10px;
}
@media (max-width: 767px) {
  .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
.mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
.mega-menu .links li::before {
  content: "";
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-color: #ececec;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.mega-menu .links li:hover::before {
  width: 100%;
}
.mega-menu .links li a {
  display: block;
  color: var(--main-color);
  font-size: 1em;
  font-weight: bold;
}
@media (max-width: 767px) {
  .mega-menu .links li a {
    font-size: 0.8em;
  }
}
.mega-menu .links li a i {
  margin-right: 20px;
}
/* End Mega Menu */
/* End Header  */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  position: absolute;
  content: "";
  left: 0;
  top: -90px;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: -1;
  transform: skewY(-6deg);
  -webkit-transform: skewY(-6deg);
  -moz-transform: skewY(-6deg);
  -ms-transform: skewY(-6deg);
  -o-transform: skewY(-6deg);
}
.landing .container {
  min-height: calc(100vh - var(--header-height-large));
  display: flex;
  flex: wrap;
  align-items: center;
  padding-bottom: 120px;
  position: relative;
}
@media (max-width: 991px) {
  .landing .container {
    flex-direction: column;
    justify-content: center;
  }
}
.landing .image img {
  position: absolute;
  right: 0;
  top: 0;
  width: 600px;
  max-width: 100%;
  animation: ups-and-downs 5s linear infinite;
  -webkit-animation: ups-and-downs 5s linear infinite;
}
@media (max-width: 991px) {
  .landing .image img {
    display: none;
  }
}
.landing .text {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .landing .text {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  letter-spacing: -1px;
  margin-bottom: 15px;
}
@media (max-width: 991px) {
  .landing .text h1 {
    font-size: 2em;
  }
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 1.5em;
  }
}
.landing .text p {
  font-size: 22px;
  color: #777;
  line-height: 1.7;
  max-width: 500px;
}
@media (max-width: 991px) {
  .landing .text p {
    font-size: 1.5em;
  }
}
@media (max-width: 767px) {
  .landing .text p {
    font-size: 1em;
  }
}
.landing .fa-angle-double-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  color: var(--main-color);
  animation: bouncing 1.5s linear infinite;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-animation: bouncing 2s linear infinite;
}
.landing .fa-angle-double-down:hover {
  color: var(--main-color-alt);
}
/* End Landing */
/* Start Articles */
.articles {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.articles .container .box {
  overflow: hidden;
  box-shadow: 0 2px 15px rgba(0 0 0 / 10%);
  border-radius: 10px;
  background-color: white;
  transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -moz-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -ms-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
  -o-transition: transform var(--main-transition),
    box-shadow var(--main-transition);
}
.articles .container .box:hover {
  box-shadow: 0 2px 15px rgba(0 0 0 / 25%);
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
}
.articles .container .box img {
  width: 100%;
}
.articles .box .content {
  padding: 20px;
}
.articles .box .content h3 {
  font-size: 1.2em;
}
.articles .box .content p {
  margin-top: 10px;
  font-size: 1em;
  color: #777;
}
.articles .box .box-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #e9e6e6;
}
.articles .box .box-footer a {
  display: block;
  font-weight: bold;
  color: var(--main-color);
}
.articles .box .box-footer i {
  color: var(--main-color);
}
.articles .container .box:hover .box-footer i {
  animation: arrow-move 0.6s linear infinite;
  -webkit-animation: arrow-move 0.6s linear infinite;
}
/* End Articles */
/* Start Gallery */
.gallery {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.gallery .card {
  padding: 15px;
  background-color: white;
  position: relative;
  box-shadow: 0 12px 20px 0 rgba(0 0 0 / 13%), 0px 2px 4px 0px rgba(0 0 0 / 12%);
}
.gallery .card .image-box {
  position: relative;
  overflow: hidden;
}
.gallery .card .image-box img {
  max-width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.gallery .card .image-box::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  background-color: rgba(255 255 255 / 20%);
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.gallery .card .image-box:hover::before {
  animation: flashing 0.7s;
  -webkit-animation: flashing 0.7s;
}
.gallery .card .image-box:hover img {
  transform: rotate(5deg) scale(1.1);
  -webkit-transform: rotate(5deg) scale(1.1);
  -moz-transform: rotate(5deg) scale(1.1);
  -ms-transform: rotate(5deg) scale(1.1);
  -o-transform: rotate(5deg) scale(1.1);
}
/* End Gallery */
/* Start Feature */
.features {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
  background-color: white;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.features .box {
  border: 1px solid #cccccc;
  text-align: center;
  background-color: white;
}
.features .box .image-box {
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features .box .image-box::before {
  position: absolute;
  content: "";
  bottom: 0px;
  right: 0px;
  border-style: solid;
  border-width: 0 0 165px 350px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
  z-index: 2;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features .quality .image-box::after,
.features .time .image-box::after,
.features .passion .image-box::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.features .quality .image-box::after {
  background-color: rgb(244 64 54/50%);
}
.features .time .image-box::after {
  background-color: rgb(0 150 136/50%);
}
.features .passion .image-box::after {
  background-color: rgb(3 169 244/50%);
}
.features .box:hover .image-box::before {
  left: 0px;
  border-width: 0px 350px 165px 0px;
}
.features .box .image-box img {
  max-width: 100%;
}
.features .box h2 {
  width: fit-content;
  margin: 30px auto;
  font-size: 2em;
  font-weight: bold;
  position: relative;
}
.features .box h2::before {
  position: absolute;
  content: "";
  left: 15px;
  bottom: -15px;
  width: calc(100% - 30px);
  height: 5px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features .quality h2::before {
  border: 1px solid rgb(244 64 54);
  background: linear-gradient(to right, rgb(244 64 54) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time h2::before {
  border: 1px solid rgb(0 150 136);
  background: linear-gradient(to right, rgb(0 150 136) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion h2::before {
  border: 1px solid rgb(3 169 244);
  background: linear-gradient(to right, rgb(3 169 244) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover h2::before {
  background-position: left bottom;
}
.features .box p {
  line-height: 1.5;
  padding: 0 15px;
  font-size: 1.2em;
  color: #777;
}
.features .box a {
  display: block;
  margin: 30px auto 20px;
  width: fit-content;
  padding: 10px 30px;
  font-size: 1.3em;
  font-weight: bold;
  border: 3px solid red;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features .quality a {
  color: rgb(244 64 54);
  border-color: rgb(244 64 54);
  background: linear-gradient(to right, rgb(244 64 54) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .time a {
  color: rgb(0 150 136);
  border-color: rgb(0 150 136);
  background: linear-gradient(to right, rgb(0 150 136) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .passion a {
  color: rgb(3 169 244);
  border-color: rgb(3 169 244);
  background: linear-gradient(to right, rgb(3 169 244) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.features .box:hover a {
  background-position: left bottom;
  color: white;
}
/* End Feature */
/* Start TESTIMONIALS */
.testimonials {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.testimonials .box {
  position: relative;
  background-color: white;
  padding: 20px;
}
.testimonials .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  height: 100px;
  border: 10px solid var(--section-background);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials .box h3 {
  margin: 0 0 10px;
  color: var(--main-color);
}
.testimonials .box span {
  display: block;
  margin: 0 0 10px;
  color: #777;
}
.testimonials .box .rates .filled {
  color: #ffc107;
}

.testimonials .box p {
  margin: 10px 0;
  color: #777;
  line-height: 1.5;
}
/* End TESTIMONIALS */
/* Start Team Members */
.team-members {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.team-members .box {
  position: relative;
  padding: 60px 60px 0 0;
}
.team-members .box::before,
.team-members .box::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.team-members .box::before {
  width: calc(100% - 60px);
  z-index: -2;
}
.team-members .box::after {
  width: 0px;
  background-color: #e4e4e4;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team-members .box:hover::after {
  width: calc(100% - 60px);
}
.team-members .box .data {
  display: flex;
}
.team-members .box .data img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.team-members .box:hover .data img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.team-members .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.team-members .box .data .social a {
  display: block;
  width: 60px;
  text-align: center;
}
.team-members .box .data .social a i {
  color: #777;
  font-size: 1.2em;
}
.team-members .box .data .social a:hover i {
  color: var(--main-color);
}
.team-members .box .info {
  padding-left: 80px;
}
.team-members .box .info h3 {
  margin-top: 20px;
  font-size: 1.3em;
  color: var(--main-color);
}
.team-members .box:hover .info h3 {
  color: #777;
}
.team-members .box .info p {
  margin-top: 10px;
  margin-bottom: 20px;
}
/* End Team Members */
/* Start Services */
.services {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
  background-color: var(--section-background);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services .box {
  counter-increment: services;
  position: relative;
  background-color: white;
  padding: 30px 0 0;
  text-align: center;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}
.services .box::before {
  position: absolute;
  content: "";
  left: 50%;
  top: -3px;
  transform: translateX(-50%);
  width: 0px;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.services .box:hover::before {
  width: 100%;
}
.services .box i {
  color: #d5d5d5;
}
.services .box:hover i {
  color: var(--main-color);
}
.services .box h3 {
  margin: 30px 0;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--main-color);
}
.services .box .info {
  padding: 15px 20px;
  background-color: #f9f9f9;
  position: relative;
}
.services .box .info::before {
  position: absolute;
  content: "0" counter(services);
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  padding-right: 20px;
}
.services .box .info::after {
  position: absolute;
  content: "";
  left: 60px;
  bottom: 0;
  width: 50px;
  height: 100%;
  background-color: #d5d5d5;
  transform: skew(-29deg);
  -webkit-transform: skew(-29deg);
  -moz-transform: skew(-29deg);
  -ms-transform: skew(-29deg);
  -o-transform: skew(-29deg);
}
.services .box .info a {
  display: block;
  color: var(--main-color);
  text-align: right;
}
/* End Services */
/* Start Our Skills */
.our-skills {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .our-skills img {
    display: none;
  }
}
.our-skills .skills {
  flex: 1;
}
.our-skills .skills .skill h3 {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-skills .skills .skill span {
  font-size: 0.8em;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: var(--main-color);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.our-skills .skills .skill .progress {
  position: relative;
  height: 30px;
  background-color: rgb(238 238 238);
}
.our-skills .skills .skill .progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--main-color);
}
/* End Our Skills */
/* Start Work Steps */
.work-steps {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  background-color: var(--section-background);
}
.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}
.work-steps .image {
  max-width: 100%;
}
.work-steps .cards-holder {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.work-steps .cards-holder .card {
  position: relative;
  z-index: 1;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #f6f5f5;
  border: 2px solid white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 767px) {
  .work-steps .cards-holder .card {
    flex-direction: column;
    text-align: center;
  }
}
.work-steps .cards-holder .card::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  background-color: #ededed;
  width: 0;
  height: 0;
  border-radius: 10px;
  z-index: -1;
  transition: var(--main-transition);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.work-steps .cards-holder .card:hover::before {
  width: 100%;
  height: 100%;
}
.work-steps .cards-holder .card img {
  width: 64px;
}
.work-steps .cards-holder .card h3 {
  font-size: 1.5em;
}
.work-steps .cards-holder .card p {
  font-size: 1em;
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
}
/* End Work Steps */
/* Start Latest Events */
.latest-events {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
  position: relative;
}
.latest-events .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}
.latest-events img {
  width: 450px;
}
@media (max-width: 991px) {
  .latest-events img {
    display: none;
  }
}
.latest-events .info {
  flex: 1;
  text-align: center;
}
.latest-events .info .time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.latest-events .info .time .unit {
  width: 60px;
  border: 1px solid #b4b4b4;
  border-radius: 6px;
  transition: var(--main-transition);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.latest-events .info .time .unit:hover {
  border-color: var(--main-color);
}
.latest-events .info .time .unit span {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.latest-events .info .time .unit span:first-child {
  font-size: 2em;
  font-weight: bold;
  color: var(--main-color);
}
.latest-events .info .time .unit span:last-child {
  font-size: 0.6em;
  border-top: 1px solid #b4b4b4;
}
.latest-events .info .time .unit:hover span {
  border-color: var(--main-color);
}
.latest-events .info .text {
  margin-top: 40px;
  padding: 15px;
}
.latest-events .info .text .title {
  font-size: 1.5em;
}
.latest-events .info .text .description {
  margin-top: 20px;
  line-height: 1.5;
  font-size: 1em;
  color: #777;
}
.latest-events .subscribe {
  width: 600px;
  margin: 0px auto;
  padding: 30px;
  background-color: #f6f5f5;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.latest-events .subscribe form {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .latest-events .subscribe {
    padding: 15px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .latest-events .subscribe form {
    flex-direction: column;
  }
}
.latest-events .subscribe form input {
  padding: 20px 30px;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
@media (max-width: 767px) {
  .latest-events .subscribe form input {
    padding: 10px 15px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
.latest-events .subscribe form input[type="email"] {
  flex: 1;
  caret-color: var(--main-color);
}
.latest-events .subscribe form input[type="email"]::placeholder {
  opacity: 1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.latest-events .subscribe form input[type="email"]:focus {
  outline: none;
}
.latest-events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.latest-events .subscribe form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  text-transform: capitalize;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.latest-events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* End Latest Events */
/* Start Animation */
@keyframes ups-and-downs {
  0%,
  100% {
    top: 0%;
  }
  50% {
    top: -40px;
  }
}
@keyframes bouncing {
  0%,
  10%,
  20%,
  30%,
  50%,
  70%,
  80%,
  100% {
    bottom: 40px;
  }
  40%,
  60% {
    bottom: 25px;
  }
}
@keyframes left-move {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
@keyframes arrow-move {
  100% {
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/* End Animation */
